body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:458px;
  width:140px;
  height:25px;
}
#u146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:396px;
}
#u147_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:396px;
  overflow:auto;
}
